<section>
  <form class="new-post-form">
    <div class="card">
      <h5 class="card-header">Create New Post</h5>
      <div class="card-body">
        <div class="mb-3">
          <label for="post-title">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div class="mb-3">
          <label for="post-content" class="form-label">Content</label>
          <textarea class="form-control" id="post-content" name="post-content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
      </div>
    </div>

  </form>
</section>

<script src="/javascript/add-post.js"></script>