{{#if posts.length}}
<section>
  <ul class="posts-list">
    {{#each posts as |post|}}
    <li>
      <a href='/dashboard/edit/{{post.id}}' class="btn">{{post.title}}</a>
    </li>
    {{/each}}
  </ul>
</section>
{{else}}
<section class="placeholder"></section>
{{/if}}

<div class="dark-color new-post-btn">
  <button type="button" class="btn new-post-btn">Create New Post</button>
</div>

<script src="/javascript/dashboard.js"></script>