<article>
  <form class="edit-post-form">
    <div class="card">
      <h5 class="card-header">Edit Post</h5>
      <div class="card-body">
        <div class="mb-3">
          <label for="post-title" class="form-label">Title</label>
          <input type="text" class="form-control" name="post-title" id="post-title" value="{{post.title}}" />
        </div>
        <div class="mb-3">
          <label for="post-content" class="form-label">Content</label>
          <textarea class="form-control" name="post-content" id="post-content" rows="3">{{post.post_content}}</textarea>
        </div>
        <button type="submit" class="btn">Update Post</button>
        <button type="button" class="btn delete-post-btn">Delete</button>
      </div>
    </div>
  </form>
</article>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>