<form class="login-form">
  <div class="card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
      <div class="mb-3">
        <label for="email-login" class="form-label">email:</label>
        <input type="email" class="form-control" id="email-login" />
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">password:</label>
        <input type="password" class="form-control" id="password-login" />
      </div>
      <div>
        <button type="submit" class="btn">login</button>
      </div>
      <a href="/signup">signup instead</a>
    </div>
  </div>

</form>


<script src="/javascript/login.js"></script>