<form class="signup-form">
  <div class="card">
    <h5 class="card-header">Sign Up</h5>
    <div class="card-body">
      <div class="mb-3">
        <label for="username-signup" class="form-label">username:</label>
        <input type="text" class="form-control" id="username-signup" />
      </div>
      <div class="mb-3">
        <label for="email-signup" class="form-label">email:</label>
        <input type="email" class="form-control" id="email-signup" />
      </div>
      <div class="mb-3">
        <label for="password-signup" class="form-label">password:</label>
        <input type="password" class="form-control" id="password-signup" />
      </div>
      <div>
        <button type="submit" class="btn btn-primary">login</button>
      </div>
      <a href="/login">login instead</a>
    </div>
  </div>
</form>

<script src="/javascript/signup.js"></script>